<!DOCTYPE html>
<html>
<head>
	{% block head %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>{% if title %}{{ title }} - {% endif %}Citations</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/readable/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker3.min.css">
	{% endblock %}
</head>
<body>
	{% block content %}
	{% endblock %}

	<footer class="footer" style="margin-top: 30px">
		<div class="container">
			<a href="/resources">Other resources</a>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
	<script src="https://cdn.rawgit.com/rithychhen88/birthday-picker/master/js/jquery-birthday-picker.min.js"></script>
	<script>
	$('.datepicker').birthdayPicker();
	</script>
	<script>
	var getByViolation = function (violation) {
		var result = false;
		for (var i = 0; i < data.length; i++) {
			if (data[i].violation_number === violation) {
				result = data[i];
			}
		}

		return result;
	};

	function extractDomain(url) {
	    var domain;
	    //find & remove protocol (http, ftp, etc.) and get domain
	    if (url.indexOf("://") > -1) {
	        domain = url.split('/')[2];
	    }
	    else {
	        domain = url.split('/')[0];
	    }

	    //find & remove port number
	    domain = domain.split(':')[0];

	    return domain;
	}

	$('.warrant').click(function (e) {
		if (e.target.tagName == 'STRONG') {
			e.target = e.target.parentNode;
		}
		var v = getByViolation(e.target.dataset.violation);
		document.querySelector('.warrant-description').innerHTML = v.violation_description;
	});

	$('.fine').click(function (e) {
		if (e.target.tagName == 'STRONG') {
			e.target = e.target.parentNode;
		}
		var v = getByViolation(e.target.dataset.violation);
		document.querySelector('.fines-owed').innerHTML = v.fine_amount;
		document.querySelector('.fines-court').innerHTML = v.court_location;
		if (v.violation_description == 'Expired License Plates (Tags)') {
			document.querySelector('.expired-plates').classList.remove('hidden');
		} else {
			document.querySelector('.expired-plates').classList.add('hidden');
		}
		if (v.website != '') {
			document.querySelector('.website').classList.remove('hidden');
			document.querySelector('.website-link').href = v.website;
			document.querySelector('.website-link').innerHTML = extractDomain(v.website);
		} else {
			document.querySelector('.website').classList.add('hidden');
		}
		if (v.phone != '') {
			document.querySelector('.phone').classList.remove('hidden');
			document.querySelector('.phone-link').href = 'tel:' + v.phone;
			document.querySelector('.phone-link').innerHTML = v.phone;
		} else {
			document.querySelector('.phone').classList.add('hidden');
		}
		if (v.payment != '') {
			document.querySelector('.payment').classList.remove('hidden');
			document.querySelector('.payment-link').href = v.payment;
			document.querySelector('.payment-link').innerHTML = extractDomain(v.payment);
		} else {
			document.querySelector('.payment').classList.add('hidden');
		}
		document.querySelector('#fineModal .modal-title').innerHTML = 'Fine for ' + v.violation_description;
	});

	$('#moreInfoLicense').click(function (e) {
		$('#licensePhoto').attr('src', '/assets/img/license-id.jpg');
	});
	</script>
</body>
</html>
