{% extends "layout.twig" %}

{% set title = 'Home' %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Resources</h1>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<ul>
					<li><a href="http://www.stlouisco.com/Portals/8/docs/Document%20Library/municipal%20court/Ticket%20Description.pdf">Explaination of a ticket</a></li>
					<li><a href="http://www.stlcitycourt.org/Misc/MuniCourt_Rights.pdf">Rights in the court system</a></li>
					<li><a href="http://dor.mo.gov/drivers/records.php">Find out about your driving record</a></li>
					<li><a href="http://dor.mo.gov/forms/5091.pdf">How to request your motor vehicle record</a></li>
					<li><a href="http://www.publicdefender.mo.gov/clients/apply_services.htm">How to apply for a <strong>free</strong> public defender</a></li>
					<li><a href="/glossary">Glossary</a></li>
				</ul>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12">
				<ul>
					<li>Also available by phone, <a href="tel:15733192508">+1 (573) 319 - 2508</a></li>
				</ul>
			</div>
	</div>
{% endblock %}
